.surtitle
    --bs-badge-color: #{$secondary}
    @extend .badge
    background-color: rgba($secondary, .1)
    letter-spacing: .05em
    margin-bottom: .5rem
    text-transform: uppercase
    .back
        letter-spacing: 0
        text-transform: none
